name: Pack and Publish NuGet Package

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  packages: write
  contents: read

jobs:
  pack-and-publish:
    runs-on: windows-latest

    env:
      REPO_NAME: ${{ github.event.repository.name }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup NuGet.exe for use with actions
        uses: NuGet/setup-nuget@v2.0.1
        
      - name: Pack .nupkg from local DLL
        run: nuget pack "${{ env.REPO_NAME }}.nuspec"

      - uses: actions/setup-dotnet@v4

      - name: Create nuget.config with GitHub credentials
        shell: bash
        run: dotnet nuget add source --username  ${{github.actor}} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/Aligned-Vision-Group-Programming/index.json"
        
      - name: Push to GitHub Packages
        run: dotnet nuget push "${{ env.REPO_NAME }}.*.nupkg" --source "github" 
